data/retriaval filter=lfs diff=lfs merge=lfs -text
data/derived filter=lfs diff=lfs merge=lfs -text
models/Xenova/all-MiniLM-L6-v2/model.onnx filter=lfs diff=lfs merge=lfs -text
data/retrieval filter=lfs diff=lfs merge=lfs -text
data/retrieval/* filter=lfs diff=lfs merge=lfs -text
data/derived/* filter=lfs diff=lfs merge=lfs -text
data/derived/sample50 filter=lfs diff=lfs merge=lfs -text
data/derived/** filter=lfs diff=lfs merge=lfs -text
